body{font-family:'Rubik',Roboto,Arial,Helvetica,sans-serif;padding:8px;padding:.5rem;background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2010%2010%22%3E%3Ccircle%20cx%3D%222.5%22%20cy%3D%222.5%22%20r%3D%222.5%22%20fill%3D%22%23607d8b%22/%3E%3C/svg%3E");background-size:2px auto;background-repeat:repeat}
h1,h2{font-size:1.5em;font-weight:700}a{color:inherit;cursor:pointer;-webkit-text-decoration-skip:objects;text-decoration:none;display:block}
img{height:1px;opacity:0;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);width:1px;position:absolute;right:900%;clip:rect(0,0,0,0);line-height:1px;font-size:1px}
textarea{resize:vertical}
form,legend,button,input,textarea{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;-webkit-border-radius:0}
[hidden]{display:none!important}
.grid{display:block;margin:-8px;margin:-.5rem;font-size:0}.grid:before,.grid:after{display:table;content:''}.grid:after{clear:both}.cell{display:block;overflow:hidden;vertical-align:top;position:relative;padding:8px;padding:.5rem;font-size:16px;font-size:1rem}@media(min-width:30em){.cell{display:inline-block;width:100%}.cell-sm-1{width:8.333333%}.cell-sm-2{width:16.666667%}.cell-sm-3{width:25%}.cell-sm-4{width:33.333333%}.cell-sm-5{width:41.666667%}.cell-sm-6{width:50%}.cell-sm-7{width:58.333333%}.cell-sm-8{width:66.666667%}.cell-sm-9{width:75%}.cell-sm-10{width:83.333333%}.cell-sm-11{width:91.666667%}.cell-sm-12{width:100%}}@media(min-width:48em){.cell-md-1{width:8.333333%}.cell-md-2{width:16.666667%}.cell-md-3{width:25%}.cell-md-4{width:33.333333%}.cell-md-5{width:41.666667%}.cell-md-6{width:50%}.cell-md-7{width:58.333333%}.cell-md-8{width:66.666667%}.cell-md-9{width:75%}.cell-md-10{width:83.333333%}.cell-md-11{width:91.666667%}.cell-md-12{width:100%}}@media(min-width:62em){.cell-lg-1{width:8.333333%}.cell-lg-2{width:16.666667%}.cell-lg-3{width:25%}.cell-lg-4{width:33.333333%}.cell-lg-5{width:41.666667%}.cell-lg-6{width:50%}.cell-lg-7{width:58.333333%}.cell-lg-8{width:66.666667%}.cell-lg-9{width:75%}.cell-lg-10{width:83.333333%}.cell-lg-11{width:91.666667%}.cell-lg-12{width:100%}}
.grid>.cell-top,.grid>.cell-title{background-color:#607d8b;color:#fff;-webkit-box-shadow:0 30px 46px -36px rgba(0,0,0,.2);box-shadow:0 30px 46px -36px rgba(0,0,0,.2);transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.3s;transition-property:background-color}
.cell-top>.grid>.cell{z-index:90}
.site-title{font-size:2em;font-weight:700}
.item-title{display:inline-block;font-size:24px;font-size:1.5rem}
.cell-top.cell-top.identifier-online:before{-webkit-transform:translateX(0);transform:translateX(0)}
.cell-top.cell-top.identifier-offline:after{-webkit-transform:translateX(0);transform:translateX(0);}
.cell-top:before,.cell-top:after{content:'';position:absolute;z-index:0;display:block;top:0;left:0;right:0;bottom:0;-webkit-transition:-webkit-transform .3s cubic-bezier(.4,0,.2,1);transition:transform .3s cubic-bezier(.4,0,.2,1)}
.cell-top:before{background:#33c764;-webkit-transform:translateX(-100%);transform:translateX(-100%)}
.cell-top:after{background:#f44336;-webkit-transform:translateX(100%);transform:translateX(100%)}
.cell-status>span,.cell-legend>span{display:inline-block;width:48px;width:3rem;height:48px;height:3rem;background-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2248px%22%20height%3D%221152px%22%20viewBox%3D%220%200%2048%201152%22%3E%3Cg%20%20transform%3D%22translate%280%2C%200%29%22%3E%3Cpath%20fill%3D%22%23335262%22%20d%3D%22M40%2C23h-9V10c0-0.55273-0.44775-1-1-1H18c-0.55225%2C0-1%2C0.44727-1%2C1v13H8%26%2310%3B%26%239%3Bc-0.38428%2C0-0.73486%2C0.2207-0.90137%2C0.56641C6.93213%2C23.91309%2C6.979%2C24.32422%2C7.21924%2C24.625l16%2C20%26%2310%3B%26%239%3BC23.40869%2C44.8623%2C23.69629%2C45%2C24%2C45s0.59131-0.1377%2C0.78076-0.375l16-20c0.24023-0.30078%2C0.28711-0.71191%2C0.12061-1.05859%26%2310%3B%26%239%3BC40.73486%2C23.2207%2C40.38428%2C23%2C40%2C23z%22/%3E%3Cpath%20fill%3D%22%235A7A84%22%20d%3D%22M18%2C5h12c0.55225%2C0%2C1-0.44727%2C1-1s-0.44775-1-1-1H18c-0.55225%2C0-1%2C0.44727-1%2C1S17.44775%2C5%2C18%2C5z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%2048%29%22%3E%3Cpath%20fill%3D%22%23335262%22%20d%3D%22M40.78125%2C23.375l-16-20c-0.38086-0.47461-1.18164-0.47461-1.5625%2C0l-16%2C20%26%2310%3B%26%239%3Bc-0.24023%2C0.30078-0.28613%2C0.71191-0.12012%2C1.05859C7.26562%2C24.7793%2C7.61523%2C25%2C8%2C25h9v13c0%2C0.55273%2C0.44727%2C1%2C1%2C1h12%26%2310%3B%26%239%3Bc0.55273%2C0%2C1-0.44727%2C1-1V25h9c0.38477%2C0%2C0.73438-0.2207%2C0.90137-0.56641C41.06738%2C24.08691%2C41.02148%2C23.67578%2C40.78125%2C23.375z%22/%3E%3Cpath%20fill%3D%22%235A7A84%22%20d%3D%22M30%2C43H18c-0.55273%2C0-1%2C0.44727-1%2C1s0.44727%2C1%2C1%2C1h12c0.55273%2C0%2C1-0.44727%2C1-1S30.55273%2C43%2C30%2C43z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%2096%29%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M41.87883%2C17.29305L18%2C41.17188V32h-4v14c0%2C1.10457%2C0.89543%2C2%2C2%2C2h14v-4h-9.17188l23.87883-23.87883%26%2310%3B%26%239%3Bc0.39053-0.39053%2C0.39053-1.02369%2C0-1.41422l-1.41391-1.41391C42.90252%2C16.90252%2C42.26936%2C16.90252%2C41.87883%2C17.29305z%22/%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M30%2C16h4V2c0-1.10457-0.89543-2-2-2H18v4h9.17188L3.29304%2C27.87883%26%2310%3B%26%239%3Bc-0.39052%2C0.39053-0.39052%2C1.02369%2C0%2C1.41422l1.41391%2C1.41391c0.39052%2C0.39053%2C1.02369%2C0.39053%2C1.41421%2C0L30%2C6.82812V16z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20144%29%22%3E%3Cpath%20fill%3D%22%23444444%22%20d%3D%22M24%2C7c-0.55273%2C0-1-0.44727-1-1V2c0-0.55273%2C0.44727-1%2C1-1s1%2C0.44727%2C1%2C1v4C25%2C6.55273%2C24.55273%2C7%2C24%2C7z%22/%3E%3Cpath%20fill%3D%22%23E6E6E6%22%20d%3D%22M32%2C11h-3V6c0-0.55273-0.44727-1-1-1h-8c-0.55273%2C0-1%2C0.44727-1%2C1v5h-3c-0.55273%2C0-1%2C0.44727-1%2C1v34%26%2310%3B%26%239%3Bc0%2C0.55273%2C0.44727%2C1%2C1%2C1h16c0.55273%2C0%2C1-0.44727%2C1-1V12C33%2C11.44727%2C32.55273%2C11%2C32%2C11z%22/%3E%3Cpath%20fill%3D%22%23B3B3B3%22%20d%3D%22M20%2C27H4c-0.55273%2C0-1%2C0.44727-1%2C1v18c0%2C0.55273%2C0.44727%2C1%2C1%2C1h16c0.55273%2C0%2C1-0.44727%2C1-1V28%26%2310%3B%26%239%3BC21%2C27.44727%2C20.55273%2C27%2C20%2C27z%22/%3E%3Cpath%20fill%3D%22%23444444%22%20d%3D%22M44%2C21H28c-0.55273%2C0-1%2C0.44727-1%2C1v24c0%2C0.55273%2C0.44727%2C1%2C1%2C1h16c0.55273%2C0%2C1-0.44727%2C1-1V22%26%2310%3B%26%239%3BC45%2C21.44727%2C44.55273%2C21%2C44%2C21z%22/%3E%3Cpath%20fill%3D%22%23B3B3B3%22%20d%3D%22M37%2C40h-2c-0.55228%2C0-1%2C0.44772-1%2C1v6h4v-6C38%2C40.44772%2C37.55228%2C40%2C37%2C40z%22/%3E%3Cpath%20fill%3D%22%23E6E6E6%22%20d%3D%22M13%2C41h-2c-0.55229%2C0-1%2C0.44772-1%2C1v5h4v-5C14%2C41.44772%2C13.55229%2C41%2C13%2C41z%22/%3E%3Cpath%20fill%3D%22%23BADEFC%22%20d%3D%22M34%2C29h-2c-0.55228%2C0-1-0.44772-1-1v-2c0-0.55228%2C0.44772-1%2C1-1h2c0.55228%2C0%2C1%2C0.44772%2C1%2C1v2%26%2310%3B%26%239%3BC35%2C28.55228%2C34.55228%2C29%2C34%2C29z%22/%3E%3Cpath%20fill%3D%22%23BADEFC%22%20d%3D%22M40%2C29h-2c-0.55228%2C0-1-0.44772-1-1v-2c0-0.55228%2C0.44772-1%2C1-1h2c0.55228%2C0%2C1%2C0.44772%2C1%2C1v2%26%2310%3B%26%239%3BC41%2C28.55228%2C40.55228%2C29%2C40%2C29z%22/%3E%3Cpath%20fill%3D%22%23BADEFC%22%20d%3D%22M34%2C35h-2c-0.55228%2C0-1-0.44772-1-1v-2c0-0.55228%2C0.44772-1%2C1-1h2c0.55228%2C0%2C1%2C0.44772%2C1%2C1v2%26%2310%3B%26%239%3BC35%2C34.55228%2C34.55228%2C35%2C34%2C35z%22/%3E%3Cpath%20fill%3D%22%23BADEFC%22%20d%3D%22M40%2C35h-2c-0.55228%2C0-1-0.44772-1-1v-2c0-0.55228%2C0.44772-1%2C1-1h2c0.55228%2C0%2C1%2C0.44772%2C1%2C1v2%26%2310%3B%26%239%3BC41%2C34.55228%2C40.55228%2C35%2C40%2C35z%22/%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M10%2C36H8c-0.55228%2C0-1-0.44772-1-1v-2c0-0.55228%2C0.44772-1%2C1-1h2c0.55229%2C0%2C1%2C0.44772%2C1%2C1v2%26%2310%3B%26%239%3BC11%2C35.55228%2C10.55229%2C36%2C10%2C36z%22/%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M16%2C36h-2c-0.55229%2C0-1-0.44772-1-1v-2c0-0.55228%2C0.44771-1%2C1-1h2c0.55228%2C0%2C1%2C0.44772%2C1%2C1v2%26%2310%3B%26%239%3BC17%2C35.55228%2C16.55228%2C36%2C16%2C36z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20192%29%22%3E%3Cpath%20fill%3D%22%23E86C60%22%20d%3D%22M20%2C9c-0.55273%2C0-1-0.44727-1-1V2c0-0.55273%2C0.44727-1%2C1-1s1%2C0.44727%2C1%2C1v6C21%2C8.55273%2C20.55273%2C9%2C20%2C9z%22/%3E%3Cpath%20fill%3D%22%23E86C60%22%20d%3D%22M10%2C11c-0.55273%2C0-1-0.44727-1-1V4c0-0.55273%2C0.44727-1%2C1-1s1%2C0.44727%2C1%2C1v6C11%2C10.55273%2C10.55273%2C11%2C10%2C11z%26%2310%3B%26%239%3B%22/%3E%3Cpath%20fill%3D%22%23E86C60%22%20d%3D%22M30%2C11c-0.55273%2C0-1-0.44727-1-1V4c0-0.55273%2C0.44727-1%2C1-1s1%2C0.44727%2C1%2C1v6C31%2C10.55273%2C30.55273%2C11%2C30%2C11z%26%2310%3B%26%239%3B%22/%3E%3Cpath%20fill%3D%22%23B3B3B3%22%20d%3D%22M42%2C29h-4.11035c-0.55273%2C0-1-0.44727-1-1s0.44727-1%2C1-1H42c1.6543%2C0%2C3-1.3457%2C3-3v-4c0-1.6543-1.3457-3-3-3%26%2310%3B%26%239%3Bh-4c-0.55273%2C0-1-0.44727-1-1s0.44727-1%2C1-1h4c2.75684%2C0%2C5%2C2.24316%2C5%2C5v4C47%2C26.75684%2C44.75684%2C29%2C42%2C29z%22/%3E%3Cpath%20fill%3D%22%23E6E6E6%22%20d%3D%22M20%2C42C9.52344%2C42%2C1%2C33.47656%2C1%2C23v-7c0-0.55273%2C0.44727-1%2C1-1h36c0.55273%2C0%2C1%2C0.44727%2C1%2C1v7%26%2310%3B%26%239%3BC39%2C33.47656%2C30.47656%2C42%2C20%2C42z%22/%3E%3Cpath%20fill%3D%22%23B3B3B3%22%20d%3D%22M34%2C46H6c-2.75684%2C0-5-2.24316-5-5c0-0.55273%2C0.44727-1%2C1-1h36c0.55273%2C0%2C1%2C0.44727%2C1%2C1%26%2310%3B%26%239%3BC39%2C43.75684%2C36.75684%2C46%2C34%2C46z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20240%29%22%3E%3Cpath%20fill%3D%22%23EFD358%22%20d%3D%22M11.99951%2C45c-0.19775%2C0-0.39648-0.05811-0.56934-0.17822c-0.40869-0.2832-0.54688-0.82422-0.32471-1.26904%26%2310%3B%26%239%3BL20.38184%2C25H10c-0.33936%2C0-0.65527-0.17188-0.83984-0.45703c-0.18408-0.28516-0.21143-0.64404-0.07227-0.95312l9-20%26%2310%3B%26%239%3BC18.24951%2C3.23096%2C18.60645%2C3%2C19%2C3h13c0.34668%2C0%2C0.66846%2C0.17969%2C0.85059%2C0.47412c0.18213%2C0.29492%2C0.19873%2C0.66309%2C0.04395%2C0.97314%26%2310%3B%26%239%3BL27.61816%2C15H38c0.39795%2C0%2C0.75781%2C0.23584%2C0.9165%2C0.6001c0.15918%2C0.36475%2C0.08691%2C0.78906-0.18359%2C1.08057l-26%2C28%26%2310%3B%26%239%3BC12.53711%2C44.89111%2C12.26953%2C45%2C11.99951%2C45z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20288%29%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M19%2C44c-0.8877%2C0-1.6709-0.58545-1.91992-1.43994l-5.57227-19.104l-1.71875%2C3.43848%26%2310%3B%26%239%3BC9.4502%2C27.57178%2C8.75781%2C28%2C8%2C28H3c-1.10449%2C0-2-0.89551-2-2s0.89551-2%2C2-2h3.76367l3.44727-6.89453%26%2310%3B%26%239%3Bc0.36816-0.73682%2C1.15332-1.17578%2C1.96875-1.09717c0.81934%2C0.07373%2C1.50977%2C0.64209%2C1.74023%2C1.43164l4.93164%2C16.90771%26%2310%3B%26%239%3Bl7.20801-28.83252C26.28223%2C4.62402%2C27.08301%2C4%2C28%2C4c0.00488%2C0%2C0.01074%2C0%2C0.01562%2C0c0.92383%2C0.00732%2C1.72266%2C0.646%2C1.93164%2C1.54541%26%2310%3B%26%239%3Bl5.74121%2C24.60498l2.52246-5.04492C38.5498%2C24.42822%2C39.24219%2C24%2C40%2C24h5c1.10449%2C0%2C2%2C0.89551%2C2%2C2s-0.89551%2C2-2%2C2h-3.76367%26%2310%3B%26%239%3Bl-4.44727%2C8.89453c-0.37793%2C0.75391-1.19434%2C1.1875-2.02246%2C1.0918c-0.83789-0.09863-1.52246-0.71143-1.71387-1.53174%26%2310%3B%26%239%3Bl-5.12012-21.94043l-6.99219%2C27.9707c-0.21875%2C0.87646-0.99805%2C1.49707-1.90137%2C1.51465C19.02539%2C44%2C19.0127%2C44%2C19%2C44z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20336%29%22%3E%3Cpath%20fill%3D%22%23A58C21%22%20d%3D%22M18.0238%2C39.76404C18.02063%2C39.84412%2C18%2C39.91919%2C18%2C40c0%2C3.31372%2C2.68628%2C6%2C6%2C6s6-2.68628%2C6-6%26%2310%3B%26%239%3Bc0-0.08081-0.02063-0.15588-0.0238-0.23596H18.0238z%22/%3E%3Cpath%20fill%3D%22%23EFD358%22%20d%3D%22M24%2C41c-12.75684%2C0-21-2.74805-21-7c0-2.00195%2C1.27588-3.40137%2C2.62646-4.88184%26%2310%3B%26%239%3BC7.28516%2C27.2998%2C9%2C25.41895%2C9%2C22v-6C9%2C7.58887%2C15.58887%2C1%2C24%2C1s15%2C6.58887%2C15%2C15v6c0%2C3.41895%2C1.71484%2C5.2998%2C3.37354%2C7.11816%26%2310%3B%26%239%3BC43.72412%2C30.59863%2C45%2C31.99805%2C45%2C34C45%2C38.25195%2C36.75684%2C41%2C24%2C41z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20384%29%22%3E%3Cpath%20fill%3D%22%23E6E6E6%22%20d%3D%22M1%2C45c0%2C1.10455%2C0.89545%2C2%2C2%2C2h42c1.10455%2C0%2C2-0.89545%2C2-2V15H1V45z%22/%3E%3Cpath%20fill%3D%22%23E86C60%22%20d%3D%22M45%2C5H3C1.89545%2C5%2C1%2C5.89539%2C1%2C7v8h46V7C47%2C5.89539%2C46.10455%2C5%2C45%2C5z%22/%3E%3Cpath%20fill%3D%22%23444444%22%20d%3D%22M10%2C10V2c0-0.55228%2C0.44771-1%2C1-1h2c0.55229%2C0%2C1%2C0.44772%2C1%2C1v8c0%2C0.55229-0.44771%2C1-1%2C1h-2%26%2310%3B%26%239%3BC10.44771%2C11%2C10%2C10.55229%2C10%2C10z%22/%3E%3Cpath%20fill%3D%22%23444444%22%20d%3D%22M34%2C10V2c0-0.55228%2C0.44772-1%2C1-1h2c0.55228%2C0%2C1%2C0.44772%2C1%2C1v8c0%2C0.55229-0.44772%2C1-1%2C1h-2%26%2310%3B%26%239%3BC34.44772%2C11%2C34%2C10.55229%2C34%2C10z%22/%3E%3Cpath%20fill%3D%22%23B3B3B3%22%20d%3D%22M40%2C34h-3v-6h3c0.55273%2C0%2C1-0.44727%2C1-1s-0.44727-1-1-1h-3v-5c0-0.55273-0.44727-1-1-1s-1%2C0.44727-1%2C1v5h-6%26%2310%3B%26%239%3Bv-5c0-0.55273-0.44727-1-1-1s-1%2C0.44727-1%2C1v5h-6v-5c0-0.55273-0.44727-1-1-1s-1%2C0.44727-1%2C1v5h-6v-5c0-0.55273-0.44727-1-1-1%26%2310%3B%26%239%3Bs-1%2C0.44727-1%2C1v5H8c-0.55273%2C0-1%2C0.44727-1%2C1s0.44727%2C1%2C1%2C1h3v6H8c-0.55273%2C0-1%2C0.44727-1%2C1s0.44727%2C1%2C1%2C1h3v5%26%2310%3B%26%239%3Bc0%2C0.55273%2C0.44727%2C1%2C1%2C1s1-0.44727%2C1-1v-5h6v5c0%2C0.55273%2C0.44727%2C1%2C1%2C1s1-0.44727%2C1-1v-5h6v5c0%2C0.55273%2C0.44727%2C1%2C1%2C1%26%2310%3B%26%239%3Bs1-0.44727%2C1-1v-5h6v5c0%2C0.55273%2C0.44727%2C1%2C1%2C1s1-0.44727%2C1-1v-5h3c0.55273%2C0%2C1-0.44727%2C1-1S40.55273%2C34%2C40%2C34z%20M13%2C34v-6h6v6H13z%26%2310%3B%26%239%3B%20M21%2C34v-6h6v6H21z%20M29%2C34v-6h6v6H29z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20432%29%22%3E%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%2220%2C34.82861%209.17188%2C24%2012%2C21.17139%2020%2C29.17139%2036%2C13.17139%2038.82812%2C16%20%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20480%29%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M25.41406%2C24l7.29297-7.29297c0.39062-0.39062%2C0.39062-1.02344%2C0-1.41406s-1.02344-0.39062-1.41406%2C0%26%2310%3B%26%239%3BL24%2C22.58594l-7.29297-7.29297c-0.39062-0.39062-1.02344-0.39062-1.41406%2C0s-0.39062%2C1.02344%2C0%2C1.41406L22.58594%2C24%26%2310%3B%26%239%3Bl-7.29297%2C7.29297c-0.39062%2C0.39062-0.39062%2C1.02344%2C0%2C1.41406C15.48828%2C32.90234%2C15.74414%2C33%2C16%2C33%26%2310%3B%26%239%3Bs0.51172-0.09766%2C0.70703-0.29297L24%2C25.41406l7.29297%2C7.29297C31.48828%2C32.90234%2C31.74414%2C33%2C32%2C33%26%2310%3B%26%239%3Bs0.51172-0.09766%2C0.70703-0.29297c0.39062-0.39062%2C0.39062-1.02344%2C0-1.41406L25.41406%2C24z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20528%29%22%3E%3Cpath%20fill%3D%22%23444444%22%20d%3D%22M24%2C47C11.31787%2C47%2C1%2C36.68213%2C1%2C24S11.31787%2C1%2C24%2C1s23%2C10.31787%2C23%2C23S36.68213%2C47%2C24%2C47z%22/%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M42.31842%2C32C43.39374%2C29.54755%2C44%2C26.84473%2C44%2C24c0-11.02795-8.97205-20-20-20C12.97211%2C4%2C4%2C12.97205%2C4%2C24%26%2310%3B%26%239%3Bc0%2C2.84473%2C0.60626%2C5.54755%2C1.68158%2C8H42.31842z%22/%3E%3Cpath%20fill%3D%22%23444444%22%20d%3D%22M26.12278%2C26.12278c-1.16963%2C1.16963-3.07301%2C1.16963-4.24264%2C0C20.71051%2C24.95315%2C18%2C18%2C18%2C18%26%2310%3B%26%239%3Bs6.95315%2C2.71051%2C8.12278%2C3.88014C27.29241%2C23.04977%2C27.29241%2C24.95315%2C26.12278%2C26.12278z%22/%3E%3Cpath%20fill%3D%22%23E86C60%22%20d%3D%22M24%2C9c-4.1355%2C0-7.8855%2C1.68225-10.60162%2C4.39838l2.82709%2C2.82709C18.21729%2C14.23364%2C20.96729%2C13%2C24%2C13%26%2310%3B%26%239%3Bc6.06543%2C0%2C11%2C4.93457%2C11%2C11h4C39%2C15.729%2C32.271%2C9%2C24%2C9z%22/%3E%3Cpath%20fill%3D%22%23EFD358%22%20d%3D%22M9%2C24h4c0-3.03271%2C1.23364-5.78271%2C3.22546-7.77454l-2.82709-2.82709C10.68225%2C16.1145%2C9%2C19.8645%2C9%2C24z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20576%29%22%3E%3Cpath%20fill%3D%22%23444444%22%20d%3D%22M24%2C47c-9.21094%2C0-19-2.45312-19-7V8c0-0.55225%2C0.44775-1%2C1-1h36c0.55225%2C0%2C1%2C0.44775%2C1%2C1v32%26%2310%3B%26%239%3BC43%2C44.54688%2C33.21094%2C47%2C24%2C47z%22/%3E%3Cpath%20fill%3D%22%23B3B3B3%22%20d%3D%22M24%2C15c-9.21094%2C0-19-2.45312-19-7s9.78906-7%2C19-7s19%2C2.45312%2C19%2C7S33.21094%2C15%2C24%2C15z%22/%3E%3Cpath%20fill%3D%22%23B3B3B3%22%20d%3D%22M43%2C19c0%2C2.08789-7.22803%2C5-19%2C5S5%2C21.08789%2C5%2C19v3.16351C8.54883%2C24.69165%2C16.3067%2C26%2C24%2C26%26%2310%3B%26%239%3Bc7.69324%2C0%2C15.45111-1.30829%2C19-3.83643V19z%22/%3E%3Cpath%20fill%3D%22%23B3B3B3%22%20d%3D%22M43%2C30c0%2C2.08789-7.22803%2C5-19%2C5S5%2C32.08789%2C5%2C30v3.16351C8.54883%2C35.69165%2C16.3067%2C37%2C24%2C37%26%2310%3B%26%239%3Bc7.69324%2C0%2C15.45111-1.30829%2C19-3.83643V30z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20624%29%22%3E%3Cpath%20fill%3D%22%23444444%22%20d%3D%22M11.46124%2C37.46124L10%2C35l-2.46124-1.46124l-0.38593%2C3.19574%26%2310%3B%26%239%3Bc-0.07777%2C0.64399%2C0.46869%2C1.19045%2C1.11268%2C1.11268L11.46124%2C37.46124z%22/%3E%3Cpolygon%20fill%3D%22%23EAD8C5%22%20points%3D%2217.70703%2C36.70703%2016.95831%2C28%208.29297%2C27.29297%207.53876%2C33.53876%2011.46124%2C37.46124%20%22/%3E%3Cpolygon%20fill%3D%22%23E86C60%22%20points%3D%2227.29297%2C8.29297%208.29297%2C27.29297%2013.75%2C32.75%2032.65625%2C13.65625%20%22/%3E%3Crect%20x%3D%2211.41849%22%20y%3D%2221.52514%22%20transform%3D%22matrix%280.70711%20-0.70711%200.70711%200.70711%20-10.29466%2024.85352%29%22%20fill%3D%22%23C9514B%22%20width%3D%2226.87006%22%20height%3D%226.65675%22/%3E%3Cpath%20fill%3D%22%235A7A84%22%20d%3D%22M41.70703%2C11.29297l-8-8c-0.39062-0.39062-1.02344-0.39062-1.41406%2C0l-5%2C5l9.41406%2C9.41406l5-5%26%2310%3B%26%239%3BC42.09766%2C12.31641%2C42.09766%2C11.68359%2C41.70703%2C11.29297z%22/%3E%3Cpath%20fill%3D%22%23B3B3B3%22%20d%3D%22M40%2C46H8c-0.55225%2C0-1-0.44727-1-1s0.44775-1%2C1-1h32c0.55225%2C0%2C1%2C0.44727%2C1%2C1S40.55225%2C46%2C40%2C46z%22/%3E%3Crect%20x%3D%2231.00011%22%20y%3D%226.34325%22%20transform%3D%22matrix%280.70711%20-0.70711%200.70711%200.70711%200.18019%2026.43503%29%22%20fill%3D%22%23223E49%22%20width%3D%221.99979%22%20height%3D%2213.31349%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20672%29%22%3E%3Cpath%20fill%3D%22%23A67C52%22%20d%3D%22M46%2C41H2c-0.55228%2C0-1-0.44772-1-1V8c0-0.55228%2C0.44772-1%2C1-1h44c0.55228%2C0%2C1%2C0.44772%2C1%2C1v32%26%2310%3B%26%239%3BC47%2C40.55228%2C46.55228%2C41%2C46%2C41z%22/%3E%3Cpath%20fill%3D%22%23B28F77%22%20d%3D%22M24%2C19c0.24121%2C0%2C0.48193%2C0.08691%2C0.67285%2C0.25977l22%2C20c0.30566%2C0.27832%2C0.40869%2C0.71582%2C0.25977%2C1.10059%26%2310%3B%26%239%3BC46.78369%2C40.74609%2C46.41309%2C41%2C46%2C41H2c-0.41309%2C0-0.78369-0.25391-0.93262-0.63965%26%2310%3B%26%239%3Bc-0.14893-0.38477-0.0459-0.82227%2C0.25977-1.10059l22-20C23.51807%2C19.08691%2C23.75879%2C19%2C24%2C19z%22/%3E%3Cpath%20fill%3D%22%23C19F85%22%20d%3D%22M24%2C29c-0.24121%2C0-0.48193-0.08691-0.67285-0.25977l-22-20C1.02148%2C8.46191%2C0.91846%2C8.02441%2C1.06738%2C7.63965%26%2310%3B%26%239%3BC1.21631%2C7.25391%2C1.58691%2C7%2C2%2C7h44c0.41309%2C0%2C0.78369%2C0.25391%2C0.93262%2C0.63965c0.14893%2C0.38477%2C0.0459%2C0.82227-0.25977%2C1.10059%26%2310%3B%26%239%3Bl-22%2C20C24.48193%2C28.91309%2C24.24121%2C29%2C24%2C29z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20720%29%22%3E%3Cpath%20fill%3D%22%23E6E6E6%22%20d%3D%22M24%2C37C11.60742%2C37%2C3.50684%2C25.06299%2C3.16797%2C24.55469c-0.22363-0.33496-0.22363-0.771-0.00195-1.10645%26%2310%3B%26%239%3BC3.50195%2C22.93994%2C11.54297%2C11%2C24%2C11c12.39258%2C0%2C20.49316%2C11.93701%2C20.83203%2C12.44531%26%2310%3B%26%239%3Bc0.22461%2C0.33691%2C0.22363%2C0.77637-0.00195%2C1.1123C44.48828%2C25.06592%2C36.3291%2C37%2C24%2C37z%22/%3E%3Ccircle%20fill%3D%22%23A67C52%22%20cx%3D%2224%22%20cy%3D%2222%22%20r%3D%229%22/%3E%3Ccircle%20fill%3D%22%23444444%22%20cx%3D%2224%22%20cy%3D%2222%22%20r%3D%225%22/%3E%3Ccircle%20fill%3D%22%23FFFFFF%22%20cx%3D%2220.5%22%20cy%3D%2219.5%22%20r%3D%222.5%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20768%29%22%3E%3Cpath%20fill%3D%22%23B3B3B3%22%20d%3D%22M17%2C26V12c0-3.85986%2C3.14014-7%2C7-7s7%2C3.14014%2C7%2C7v14h4V12c0-6.06543-4.93457-11-11-11S13%2C5.93457%2C13%2C12v14%26%2310%3B%26%239%3BH17z%22/%3E%3Cpath%20fill%3D%22%23EFD358%22%20d%3D%22M24%2C47c-8.271%2C0-15-6.729-15-15s6.729-15%2C15-15s15%2C6.729%2C15%2C15S32.271%2C47%2C24%2C47z%22/%3E%3Cpath%20fill%3D%22%23A58C21%22%20d%3D%22M28%2C29c0-2.20917-1.79083-4-4-4c-2.20911%2C0-4%2C1.79083-4%2C4c0%2C1.47681%2C0.80945%2C2.75232%2C2%2C3.44519V39h4%26%2310%3B%26%239%3Bv-6.55481C27.19061%2C31.75226%2C28%2C30.47681%2C28%2C29z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20816%29%22%3E%3Cpath%20fill%3D%22%238E8E8E%22%20d%3D%22M21%2C18.69922l-6.42957-6.42957l0.86511-2.59583c0.12012-0.35938%2C0.02637-0.75586-0.24121-1.02344%26%2310%3B%26%239%3BL9.53809%2C2.99414c-0.39062-0.39062-1.02344-0.39062-1.41406%2C0L2.4668%2C8.65039C2.2793%2C8.83789%2C2.17383%2C9.0918%2C2.17383%2C9.35742%26%2310%3B%26%239%3BS2.2793%2C9.87695%2C2.4668%2C10.06445l5.65723%2C5.65723c0.19043%2C0.19043%2C0.44629%2C0.29297%2C0.70703%2C0.29297%26%2310%3B%26%239%3Bc0.10547%2C0%2C0.21289-0.0166%2C0.31641-0.05176l2.59497-0.86499l6.42944%2C6.42944c0.39061%2C0.39062%2C0.90234%2C0.58594%2C1.41406%2C0.58594%26%2310%3B%26%239%3BS20.60938%2C21.91797%2C21%2C21.52734C21.78125%2C20.74609%2C21.78125%2C19.48047%2C21%2C18.69922z%22/%3E%3Cpath%20fill%3D%22%23E86C60%22%20d%3D%22M20.73654%2C31.26346l12.701%2C12.70101c2.76142%2C2.76142%2C7.23857%2C2.76142%2C9.99999%2C0l0.00001-0.00001%26%2310%3B%26%239%3Bc2.76142-2.76142%2C2.76142-7.23857%2C0-9.99999l-12.701-12.70101L20.73654%2C31.26346z%22/%3E%3Cpath%20fill%3D%22%23C9514B%22%20d%3D%22M39.32031%2C40.84668c-0.25586%2C0-0.51172-0.09766-0.70703-0.29297L30.1543%2C32.0957%26%2310%3B%26%239%3Bc-0.39062-0.39062-0.39062-1.02344%2C0-1.41406s1.02344-0.39062%2C1.41406%2C0l8.45898%2C8.45801c0.39062%2C0.39062%2C0.39062%2C1.02344%2C0%2C1.41406%26%2310%3B%26%239%3BC39.83203%2C40.74902%2C39.57617%2C40.84668%2C39.32031%2C40.84668z%22/%3E%3Cpath%20fill%3D%22%23B3B3B3%22%20d%3D%22M45.85059%2C9.26562c-0.10742-0.33105-0.37891-0.58203-0.7168-0.66406%26%2310%3B%26%239%3Bc-0.3418-0.08105-0.69531%2C0.01953-0.94141%2C0.26562l-5.24023%2C5.23926l-5.65723-5.65723l5.24023-5.23926%26%2310%3B%26%239%3Bc0.24609-0.24609%2C0.34668-0.60254%2C0.26562-0.94043c-0.08203-0.33887-0.33301-0.61035-0.66406-0.71777%26%2310%3B%26%239%3Bc-1.53906-0.49902-3.13477-0.68066-4.73633-0.54199c-6.14941%2C0.53223-11.06641%2C5.9873-10.96094%2C12.1582%26%2310%3B%26%239%3Bc0.0166%2C0.95117%2C0.14551%2C1.89648%2C0.38574%2C2.81738L4.07617%2C32.53516c-1.59863%2C1.41211-2.51465%2C3.36328-2.58105%2C5.49414%26%2310%3B%26%239%3Bs0.72754%2C4.13477%2C2.23535%2C5.64258c1.44922%2C1.44922%2C3.35742%2C2.23828%2C5.39648%2C2.23828c0.08203%2C0%2C0.16504-0.00098%2C0.24707-0.00391%26%2310%3B%26%239%3Bc2.13086-0.06641%2C4.08203-0.9834%2C5.49316-2.58105l16.54883-18.74805c1.76855%2C0.46289%2C3.58789%2C0.51172%2C5.4209%2C0.14844%26%2310%3B%26%239%3Bc4.35057-0.86621%2C7.93555-4.16895%2C9.13184-8.41309C46.62695%2C13.97461%2C46.58691%2C11.53809%2C45.85059%2C9.26562z%20M10%2C39%26%2310%3B%26%239%3Bc-1.10455%2C0-2-0.89545-2-2c0-1.10461%2C0.89545-2%2C2-2s2%2C0.89539%2C2%2C2C12%2C38.10455%2C11.10455%2C39%2C10%2C39z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20864%29%22%3E%3Cpath%20fill%3D%22%23EFD358%22%20d%3D%22M24%2C1C11.31787%2C1%2C1%2C11.31787%2C1%2C24s10.31787%2C23%2C23%2C23s23-10.31787%2C23-23S36.68213%2C1%2C24%2C1z%22/%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M24%2C28c0.55225%2C0%2C1-0.44775%2C1-1V14c0-0.55225-0.44775-1-1-1s-1%2C0.44775-1%2C1v13%26%2310%3B%26%239%3BC23%2C27.55225%2C23.44775%2C28%2C24%2C28z%22/%3E%3Ccircle%20fill%3D%22%23FFFFFF%22%20cx%3D%2224%22%20cy%3D%2233%22%20r%3D%222%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20912%29%22%3E%3Cpath%20fill%3D%22%2343A6DD%22%20d%3D%22M24%2C1C11.31738%2C1%2C1%2C11.31787%2C1%2C24s10.31738%2C23%2C23%2C23s23-10.31787%2C23-23S36.68262%2C1%2C24%2C1z%22/%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M28%2C33h-3V22c0-0.55225-0.44727-1-1-1h-4c-0.55273%2C0-1%2C0.44775-1%2C1s0.44727%2C1%2C1%2C1h3v10h-3%26%2310%3B%26%239%3Bc-0.55273%2C0-1%2C0.44775-1%2C1s0.44727%2C1%2C1%2C1h8c0.55273%2C0%2C1-0.44775%2C1-1S28.55273%2C33%2C28%2C33z%22/%3E%3Ccircle%20fill%3D%22%23FFFFFF%22%20cx%3D%2224%22%20cy%3D%2216%22%20r%3D%222%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%20960%29%22%3E%3Cpath%20fill%3D%22%23444444%22%20d%3D%22M45%2C45H3c-1.10457%2C0-2-0.89543-2-2V9c0-1.10457%2C0.89543-2%2C2-2h42c1.10457%2C0%2C2%2C0.89543%2C2%2C2v34%26%2310%3B%26%239%3BC47%2C44.10457%2C46.10457%2C45%2C45%2C45z%22/%3E%3Cpath%20fill%3D%22%23B3B3B3%22%20d%3D%22M24%2C40c0%2C0-4.82016-1.89646-16.99971-1.99594C6.45017%2C37.99956%2C6%2C37.55563%2C6%2C37.0055V6c12.91667%2C0%2C18%2C2%2C18%2C2%26%2310%3B%26%239%3BV40z%22/%3E%3Cpath%20fill%3D%22%23B3B3B3%22%20d%3D%22M24%2C40c0%2C0%2C4.82016-1.89646%2C16.99971-1.99594C41.54983%2C37.99956%2C42%2C37.55563%2C42%2C37.0055V6%26%2310%3B%26%239%3BC29.08333%2C6%2C24%2C8%2C24%2C8V40z%22/%3E%3Cpath%20fill%3D%22%23E6E6E6%22%20d%3D%22M24%2C39c0%2C0-6.72025-3.79496-19.00562-3.99205C4.44716%2C34.99917%2C4%2C34.56%2C4%2C34.0127V4.01287%26%2310%3B%26%239%3Bc0-0.55728%2C0.46262-1.01367%2C1.01982-1.0045C17.28903%2C3.21027%2C24%2C7%2C24%2C7V39z%22/%3E%3Cpath%20fill%3D%22%23D1D1D1%22%20d%3D%22M24%2C39c0%2C0%2C6.72025-3.79496%2C19.00562-3.99205C43.55285%2C34.99917%2C44%2C34.56%2C44%2C34.0127V4.01287%26%2310%3B%26%239%3Bc0-0.55728-0.46262-1.01367-1.01982-1.0045C30.71097%2C3.21027%2C24%2C7%2C24%2C7V39z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%201008%29%22%3E%3Cpath%20fill%3D%22%23EA9860%22%20d%3D%22M47%2C22C47%2C11.52344%2C36.68262%2C3%2C24%2C3S1%2C11.52344%2C1%2C22s10.31738%2C19%2C23%2C19%26%2310%3B%26%239%3Bc2.03809%2C0%2C4.08594-0.23047%2C6.09277-0.68652l11.53613%2C4.61523C41.74902%2C44.97656%2C41.875%2C45%2C42%2C45%26%2310%3B%26%239%3Bc0.21582%2C0%2C0.42871-0.06934%2C0.60547-0.2041c0.28027-0.21289%2C0.42676-0.55664%2C0.38867-0.90625l-1.10645-9.9502%26%2310%3B%26%239%3BC45.18848%2C30.56641%2C47%2C26.34473%2C47%2C22z%22/%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M32%2C19H16c-0.55273%2C0-1-0.44727-1-1s0.44727-1%2C1-1h16c0.55273%2C0%2C1%2C0.44727%2C1%2C1S32.55273%2C19%2C32%2C19z%22/%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M26%2C27H16c-0.55273%2C0-1-0.44727-1-1s0.44727-1%2C1-1h10c0.55273%2C0%2C1%2C0.44727%2C1%2C1S26.55273%2C27%2C26%2C27z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%201056%29%22%3E%3Cpath%20fill%3D%22%23BADEFC%22%20d%3D%22M37.93579%2C46C37.97363%2C45.34033%2C38%2C44.67517%2C38%2C44c0-8.8905-3.36267-16.5304-8.19238-20%26%2310%3B%26%239%3BC34.63733%2C20.5304%2C38%2C12.8905%2C38%2C4c0-0.67517-0.02637-1.34033-0.06421-2H10.06421C10.02637%2C2.65967%2C10%2C3.32483%2C10%2C4%26%2310%3B%26%239%3Bc0%2C8.8905%2C3.36267%2C16.5304%2C8.19238%2C20C13.36267%2C27.4696%2C10%2C35.1095%2C10%2C44c0%2C0.67517%2C0.02637%2C1.34033%2C0.06421%2C2H37.93579z%22/%3E%3Cpath%20fill%3D%22%23A67C52%22%20d%3D%22M42%2C1H6C5.44727%2C1%2C5%2C1.44727%2C5%2C2v2c0%2C0.55273%2C0.44727%2C1%2C1%2C1h36c0.55273%2C0%2C1-0.44727%2C1-1V2%26%2310%3B%26%239%3BC43%2C1.44727%2C42.55273%2C1%2C42%2C1z%22/%3E%3Cpath%20fill%3D%22%23A67C52%22%20d%3D%22M42%2C43H6c-0.55273%2C0-1%2C0.44727-1%2C1v2c0%2C0.55273%2C0.44727%2C1%2C1%2C1h36c0.55273%2C0%2C1-0.44727%2C1-1v-2%26%2310%3B%26%239%3BC43%2C43.44727%2C42.55273%2C43%2C42%2C43z%22/%3E%3Cpath%20fill%3D%22%23EA9860%22%20d%3D%22M17.24469%2C17c0.93774%2C1.57007%2C2.04333%2C2.86139%2C3.28168%2C3.75098L24%2C23.24707l3.47363-2.49609%26%2310%3B%26%239%3Bc1.23834-0.88959%2C2.34393-2.18091%2C3.28168-3.75098H17.24469z%22/%3E%3Cpath%20fill%3D%22%23EA9860%22%20d%3D%22M14%2C41h20c-1-4-7.06251-11-10-11C20.93749%2C30%2C14.93749%2C37.0625%2C14%2C41z%22/%3E%3C/g%3E%3Cg%20%20transform%3D%22translate%280%2C%201104%29%22%3E%3Cpath%20fill%3D%22%23444444%22%20d%3D%22M32%2C21v-5c0-0.55231-0.44769-1-1-1h-2c-0.55225%2C0-1%2C0.44769-1%2C1v3h-8v-3c0-0.55231-0.44769-1-1-1h-2%26%2310%3B%26%239%3Bc-0.55225%2C0-1%2C0.44769-1%2C1v5L3%2C35h42L32%2C21z%22/%3E%3Cpath%20fill%3D%22%23565656%22%20d%3D%22M5%2C43h38c1.10461%2C0%2C2-0.89545%2C2-2v-6H3v6C3%2C42.10455%2C3.89545%2C43%2C5%2C43z%22/%3E%3Cellipse%20fill%3D%22%23E6E6E6%22%20cx%3D%2224%22%20cy%3D%2228%22%20rx%3D%227%22%20ry%3D%224%22/%3E%3Cpath%20fill%3D%22%23444444%22%20d%3D%22M7.99999%2C5C4.68629%2C5%2C2%2C7.68629%2C2%2C10.99999V11v4c0%2C1.10457%2C0.89543%2C2%2C2%2C2h7c1.10457%2C0%2C2-0.89543%2C2-2v-5h22v5%26%2310%3B%26%239%3Bc0%2C1.10457%2C0.89543%2C2%2C2%2C2h7c1.10457%2C0%2C2-0.89543%2C2-2v-4v-0.00001C46%2C7.68629%2C43.31371%2C5%2C40.00001%2C5H7.99999z%22/%3E%3C/g%3E%3C/svg%3E);background-repeat:no-repeat;background-position:0px -96px;float:right}
.cell-legend>span{background-position:0px -288px}
.cell-status>span.status-online{background-position:0px -432px}
.cell-status>span.status-offline{background-position:0px -480px}
img{display:none;visibility:hidden;position:absolute;left:-9999em;height:0;width:0}